<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:replace="fragments/head"></div>
<body>

<div th:replace="fragments/preloader"></div>
<div th:replace="fragments/header"></div>


<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url('../img/bg-img/breadcumb3.jpg')">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Consumers</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<div class="receipe-post-area section-padding-80" sec:authorize="isAuthenticated()">

    <section class="best-receipe-area" id="recipes">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>My Consumers</h3>
                    </div>
                </div>

                <div class="align-items-end mb-5">
                    <a th:href="@{/feeders/add}" class="btn delicious-btn mt-30">Add new Consumer</a>

                </div>

                <div class="col-12">
                    <table class="table ">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Allergies</th>
                            <th scope="col">Food Intolerances</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <div th:remove="tag" th:each="feeder, iStat :${feeders}"
                             th:with="allergenCount=${feeder.allergens.size()}">
                            <tr>
                                <td th:text="${iStat.count}" th:rowspan="${allergenCount>0}?${allergenCount}:1"></td>
                                <td th:text="${feeder.name}" th:rowspan="${allergenCount>0}?${allergenCount}:1"></td>
                                <td th:text="${allergenCount>0}?${feeder.allergens[0].name}:''"></td>
                                <td th:text="${feeder.intolerances.size()}"
                                    th:rowspan="${allergenCount>0}?${allergenCount}:1"></td>
                                <td th:rowspan="${allergenCount>0}?${allergenCount}:1">
                                    <a class="btn btn-outline-info" th:href="@{/}">Edit </a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{'/feeders/delete/' + ${feeder.id}}">Delete </a>
                                </td>
                            </tr>
                            <tr th:each="allergen,iStat:${feeder.allergens}" th:if="${!iStat.first}">
                                <td th:text="${allergen.name}"></td>
                            </tr>
                        </div>

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </section>


</div>


<div th:replace="fragments/subscribe-area"></div>
<div th:replace="fragments/instagram-area"></div>
<div th:replace="fragments/footer"></div>
<div th:replace="fragments/scripts"></div>


</body>

</html>