<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:replace="fragments/head"></div>
<body>

<div th:replace="fragments/preloader"></div>
<div th:replace="fragments/header"></div>



<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url('../img/bg-img/breadcumb3.jpg')">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Consumers</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<div class="receipe-post-area section-padding-80">

    <section class="best-receipe-area" id="recipes">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>My Consumers</h3>
                    </div>
                </div>

                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="feeder, iStat : ${feeders}">
                            <th scope="row" th:text="${iStat.count}"></th>
                            <td th:text="${feeder.name}"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a th:href="@{/feeders/add}" class="btn delicious-btn mt-30" type="button">Add new Consumer</a>

                </div>

            </div>
        </div>
    </section>




</div>










<div th:replace="fragments/subscribe-area"></div>
<div th:replace="fragments/instagram-area"></div>
<div th:replace="fragments/footer"></div>
<div th:replace="fragments/scripts"></div>


</body>

</html>